@model Gym_Project.Models.Payment
@{
    Layout = "_LayoutAdmin";
}
@section naviheader {

	<!-- Left navbar links -->
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a href="#" class="nav-link"><b>Add Payment Admin</b> </a>
		</li>
	</ul>
}
<form asp-area="Admin" asp-controller="PaymentAdmin" asp-action="AddPayadmin" method="post">
	<div class="card-body">
		<div class="bs-stepper-content">
			<div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
				<div class="form-group">
					<label for="TargetAmount">Amount</label>
					<input id="targetAmountInput" asp-for="Amount" type="text" class="mdc-text-field__input form-control" />
					<span class="text-danger">@ViewBag.Mess</span>
				</div>
				<div class="form-group">
					<label for="Description">Name Customer</label>
					<input asp-for="PaymentMethod" type="text" class="mdc-text-field__input form-control" />
				</div>
				<div class="form-group">
					<label for="PackageId">Package Name</label>
					<select asp-for="PackageId" class="form-control">
						<option value="">--Select Choose a coach--</option>
						@foreach (var item in ViewBag.Pack)
						{
							<option value="@item.PackageId">@item.PackageName</option>
						}
					</select>
					<span class="text-danger">@ViewBag.Mess</span>
					<span class="text-danger">@Html.ValidationMessageFor(x => x.PackageId)</span>
				</div>
				<div class="form-group">
					<input asp-for="MemberId" value="1" type="hidden" class="mdc-text-field__input form-control"/>
				</div>
				<div class="form-group">
					<a href="index" class="btn btn-danger">Exit</a>
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>
@section scripts {

	<script>

		//gía tiền
		$(document).ready(function () {
			$('#targetAmountInput').on('input', function () {
				var inputVal = $(this).val();
				var newVal = inputVal.replace(/\D/g, '');
				newVal = newVal.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
				$(this).data('raw-value', newVal);
				$(this).val(newVal);
			});
		});
		$('#formEndDate').submit(function () {
			var rawValue = $('#targetAmountInput').data('raw-value');
			// Bạn có thể sử dụng rawValue để thực hiện các thao tác tiếp theo, ví dụ: chuyển đổi thành kiểu số
		});


	</script>

}
