@model Gym_Project.Models.Payment
@{
    Layout = "_LayoutAdmin";
}
@section naviheader {

    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Payment</a>
        </li>
    </ul>
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Manage Payment</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="Project">Home</a></li>
                    <li class="breadcrumb-item active">Payment</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<style>
    .activeeee {
        background-color: #0d6efd !important;
    }
</style>
<!-- Main content -->
<section class="content">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                List Payment
            </h3>
            <div class="card-tools">
                <a asp-action="AddPay" class="btn btn-primary" style="margin-right:50px">Add new customers at the counter</a>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>Package Name</th>
                        <th>Member Name</th>
                        <th>Payment methods</th>
                        <th>Amout</th>
                        <th>DataTime</th>
                    </tr>
                </thead>

                <tbody id="projectList">

                    @foreach (var item in ViewBag.Pay)
                    {
                        <tr>
                            <td class="text-center">@item.Package?.PackageName</td>
                            <td class="text-center">@item.Member?.Username</td>
                            <td class="text-center">@item.PaymentMethod</td>
                            <td class="text-center">@item.Amount</td>
                            <td class="text-center">@item.PaymentDate</td>
                        </tr>
                    }
            </table>
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-7 mt-3">
                    <ul style="display:flex;">
                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                            <a class="page-link " href="/Admin/PaymentAdmin/ShowListPay/1">Firstly</a>
                        </li>

                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                                <a class="page-link " href="/Admin/PaymentAdmin/ShowListPay/@(ViewBag.CurrentPage - 1)">@((ViewBag.CurrentPage - 1))</a>
                            </li>
                        }

                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;" class="activeeee">
                            <a class="page-link " href="/Admin/PaymentAdmin/ShowListPay/@(ViewBag.CurrentPage)">@ViewBag.CurrentPage</a>
                        </li>

                        @if (ViewBag.CurrentPage < ViewBag.TotalPage)
                        {
                            <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                                <a class="page-link " href="/Admin/PaymentAdmin/ShowListPay/@(ViewBag.CurrentPage + 1)">@((ViewBag.CurrentPage + 1))</a>
                            </li>
                        }
                        @if (ViewBag.CurrentPage < ViewBag.TotalPage - 1)
                        {
                            <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                                <a class="page-link " href="/Admin/PaymentAdmin/ShowListPay/@(ViewBag.CurrentPage + 2)">@((ViewBag.CurrentPage + 2))</a>
                            </li>
                        }
                        <li style="list-style-type:none;padding:10px;border:1px solid black;margin:4px; border-radius:5px;">
                            <a class="page-link " href="/Admin/PaymentAdmin/ShowListPay/@ViewBag.TotalPage">Final</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>
