
@{
    Layout = "_Layout";
}
<div class="main">
	<div class="about_banner_img"><img src="~/Content/images/class_img.jpg" class="img-responsive" alt=""></div>
	<div class="about_banner_wrap">
		<h1 class="m_11">Classes</h1>
	</div>
	<div class="border"> </div>
	<div class="container">
		<div class="classes_wrapper">
			<div class="row class_box">
					@foreach(var clas in ViewBag.Class)
					{
				<div class="col-md-6 ">
					<div class="class_left">
							<a href="single_class.html"><img src="@clas.Img" class="img-responsive" width="250" height="270" alt="" title="continue"></a>
					</div>
						<div class="class_right">
							<h3>@clas.ClassName</h3>
							<div class="class_img">
								<img src="@clas.Trainer?.Img" alt="">
								<div class="class_desc">
									<h4>@clas.Trainer?.TrainerName</h4>S
									<h5>@clas.Trainer?.Specialization</h5>
									<p>iusto odio dignissim</p>
								</div>
								<div class="clear"></div>
								<ul class="buttons_class">
									<li class="btn5"><a href="#">Read More</a></li>
									<li class="btn6"><a href="#">Timetable</a></li>
									<div class="clear"></div>
								</ul>
							</div>
						</div>
					<div class="clear"></div>
				</div>
				}
			</div>
		</div>
		<div class="row classes_bottom">
			<div class="col-md-8">
				<h3 class="m_2">All Classes</h3>
				<div class="classes">
					<div class="cardio_list">
						@foreach (var clas in ViewBag.Class)
						{
							<div class="cardio_sublist">
								<ul class="cardio">
									<li><i class="clock"> </i><span>@clas.ClassName</span></li>
								</ul>
								<div class="social-media">
									<ul>
										<li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
										<li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
										<li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
										<li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
									</ul>
								</div>
								<div class="clear"></div>
							</div>
						}

					</div>
					<div class="cardio_list1">
						<div class="cardio_sublist">
							<ul class="cardio">
								<li><i class="clock"> </i><span>Aerobics</span></li>
							</ul>
							<div class="social-media">
								<ul>
									<li> <span class="simptip-position-bottom simptip-movable" data-tooltip="timetable"><a href="#" target="_blank"> </a></span></li>
									<li><span class="simptip-position-bottom simptip-movable" data-tooltip="Send to"><a href="#" target="_blank"> </a> </span></li>
									<li><span class="simptip-position-bottom simptip-movable" data-tooltip="like it"><a href="#" target="_blank"> </a></span></li>
									<li><span class="simptip-position-bottom simptip-movable" data-tooltip="share"><a href="#" target="_blank"> </a></span></li>
								</ul>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="col-md-4">
				<h3 class="m_4">Membership Prices</h3>
				<div class="members">
					<h4 class="m_3">25% Discount of for all members</h4>
					<p>Discount on services and <br>treatments at the GymBase for<br> all membership cards holders.</p>
					<div class="btn1">
						<a href="#">More</a>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="traine_login">
		<div class="row login_details">
			<div class="col-md-6">
				<div class="join">
					<h3>Why Join ?</h3>
					<h4>sed diam nonummy nibh euismod</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br> nibh euismod tincidunt ut laoreet dolore magna . </p>
					<div class="btn3">
						<a href="#">Join Today</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="join-right">
					<h3>Why Join ?</h3>
					<h4>sed diam nonummy nibh euismod</h4>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam<br> nibh euismod tincidunt ut laoreet dolore magna . </p>
					<div class="buttons_login">
						<div class="btn4">
							<a asp-action="Login">Log In</a>
						</div>
						<div class="p-ww">
							<form>
								<input class="date hasDatepicker" id="datepicker" type="text" value="View Calender" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'View Calender';}">
							</form>
						</div>
						<div class="clear"></div>
						<!---strat-date-piker---->
						<script src="js/jquery-ui.js"></script>
						<script>
							$(function () {
								$("#datepicker").datepicker();
							});
						</script>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="about_gallery">
		<div class="container">
			<div class="col-md-8">
				<h3 class="m_2">Gallery</h3>
				<div id="ca-container" class="ca-container">
					<div class="ca-nav"><span class="ca-nav-prev">Previous</span><span class="ca-nav-next">Next</span></div>
					<div class="ca-wrapper" style="overflow: hidden;">
						<div class="ca-item ca-item-1" style="position: absolute; left: 0px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon1"> </div>
							</div>
						</div>
						<div class="ca-item ca-item-2" style="position: absolute; left: 315px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon2"> </div>
							</div>
						</div>
						<div class="ca-item ca-item-3" style="position: absolute; left: 630px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon3"> </div>
							</div>
						</div>
						<div class="ca-item ca-item-4" style="position: absolute; left: 945px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon4"> </div>
							</div>
						</div>
						<div class="ca-item ca-item-5" style="position: absolute; left: 1260px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon5"> </div>
							</div>
						</div>
						<div class="ca-item ca-item-6" style="position: absolute; left: 1575px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon6"> </div>
							</div>
						</div>
						<div class="ca-item ca-item-7" style="position: absolute; left: 1890px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon7"> </div>
							</div>
						</div>
						<div class="ca-item ca-item-8" style="position: absolute; left: 2205px;">
							<div class="ca-item-main">
								<div class="ca-icon"> </div>
								<div class="ca-icon"> </div>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$('#ca-container').contentcarousel();
				</script>
			</div>
			<div class="col-md-4">
				<h3 class="m_2">Partner</h3>
				<ul class="partner">
					<li><img src="~/Content/images/p6.png" alt=""></li>
					<li><img src="~/Content/images/p5.png" alt=""></li>
					<li><img src="~/Content/images/p4.png" alt=""></li>
					<li><img src="~/Content/images/p3.png" alt=""></li>
					<li><img src="~/Content/images/p2.png" alt=""></li>
					<li><img src="~/Content/images/p1.png" alt=""></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>